@import "./fonts";
@import "./vendor/variables";

.wrapper {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* высота веб-страницы больше или равна высоте окна браузера */
    margin: 0;
}

.content {
    flex: 1; /* если содержимое body меньше высоты окна, то section будет растянут до нужной величины */
    white-space: pre-line;
    -ms-flex-preferred-size: auto;
}